<h1> Edit Blog Page </h1>

<%= form_for @blog do |f| %>
  <div class='title'><%= f.text_field :title, placeholder: 'Add Title' %></div>
  <div class='content'><%= f.text_area :body, placeholder: 'Add Content'%></div>
  <%= f.submit %>
<% end %>

<br>
<hr>
<%= link_to "Delete", blog_path, method: :delete %>
<br>
<hr>

<%= link_to 'Back', :back %>
