<div class= "about_me_wrapper">
  <div class="user_wallpaper_wrapper">
    <div class="name_and_info">
      <div class="profile_pics"></div>
      <% if @user.id != current_user.id %>
        <h2 class="user_name center"> <%= @user.fname %> <%= @user.lname %> </h2>
      <% else %>
      <h2 class="center"> <a class="user_name" href="/users/<%= current_user.id %>/edit"> <%= @user.fname %> <%= @user.lname %> </a> </h2>
      <% end %>

      <div class="user_info_wrapper">
        <!-- If current user's about me is not filled, display placeholder text which links to edit view. Otherwise display their about me content. -->
        <h2> About Me </h2>
        <% if @user.about_me != '' %>
        <div class="about_me_container"> <p><%= @user.about_me %></p> <div>
        <% else %>
        <a class="about_me_container" href="/users/<%= current_user.id %>/edit"> <p>Tell us about yourself</p> </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
      <div class="user_wallpaper"></div>
  </div>

  <div class="users_wall">
    <% @user.blogs.reverse.each do |b| %>
      <div class="wall_posts">
        <h2 class="blogpost_title"> <a href="/blogs/<%= b.id %>/edit"> <%= b.title %> </a> </h2>
        <author>Posted by: <a href="/users/<%= b.id %>"> <%= b.user.fname %> </a></author>
        <p class="blogpost_body"><%= b.body %></p>
        <time datetime= "<%= b.updated_at %>"> <%= b.updated_at %> </time> <br />

        <div class="wall_comments">
          <br><h3>Comments: </h3>
          <% b.comments.each do |b| %>
          <div><%= b.user.fname %> says... <%= b.body %></div>
          <% end %>
        </div>
      </div>
      <div class="bottom-border"> </div>
    <% end %>
  </div>
</div>
