<!DOCTYPE html>
<html>
  <head>
    <title>UserProfile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Cormorant+Garamond" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <h1 class="company_name"> <a href="/"> taste buds </a> </h1>
        <li class="sign_out"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <div class="main-links">
          <li><%= link_to "Home", root_path %> </li>
          <li><a href="/users/<%= current_user.id %>"> Profile </a> </li>
        </div>
        <!-- <#% else %>
        <li><#%= link_to "Sign Up", new_user_registration_path %></li> -->
      <% else %>
          <h1 class="company_name_signed_out">taste buds</h1>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
